*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Maison Neue Regular";
  src: url('./fonts/Maison\ Neue\ Light.ttf')  format("TrueType");
}
@font-face {
  font-family: "Maison Neue Bold";
  src: url('./fonts/Maison\ Neue\ Bold.ttf')  format("TrueType");
}

@font-face {
  font-family: "Circular Std";
  src: url('./fonts/Circular\ Std\ Font.otf')  format("opentype");
}
@font-face {
  font-family: "MaisonNeueLight";
  src: url('./fonts/MaisonNeue-Light.otf')   format("opentype");
}
@font-face {
  font-family: "MaisonNeueBold";
  src: url('./fonts/MaisonNeue-Bold.otf') format("opentype");
}

body{
background: #111112;
color: #fff;
width: 100%;
height: 100%;
font-family: "Maison Neue Regular";

}
